@import url(/shared/css/variables.css);
@import url(/shared/css/globals.css);
@import url(utils.css);
@import url(globals.css);
@import url(pages/home.css);
@import url(pages/about.css);
@import url(pages/contact.css);
@import url(pages/form.css);