/* Hidden */

.hidden {
    display: none;
}



/* Buttons */

.btn {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn-default:hover {
    background-color: rgb(230, 230, 230);
}

.btn-default:active {
    background-color: rgb(200, 200, 200);
}


/* Primary button */

.btn-primary {
    color: white;
    background-color: var(--color-primary-500);
}

.btn-primary:hover {
    background-color: var(--color-primary-700);
}

.btn-primary:active {
    background-color: var(--color-primary-900);
}


/* Primary button with gradient */

.btn-primary-gradient {
    position: relative;
    color: white;
    overflow: hidden;
}

.btn-primary-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        var(--color-primary-500),
        var(--color-secondary-500),
        var(--color-primary-500)
    );
    transform: translateX(-50%);
    transition: all 0.5s;
}

.btn-primary-gradient:hover::before {
    transform: translateX(0);
}


/* Primary outline button*/

.btn-primary-outline {
    position: relative;
    color: var(--color-primary-500);
    box-shadow: 0 0 0 2px var(--color-primary-500) inset;
    overflow: hidden;
    transition: all 0.5s;
}

.btn-primary-outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-500);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.btn-primary-outline:hover {
    color: white;
}

.btn-primary-outline:hover::before {
    transform: translateX(0);
}


/* Secondary outline button*/

.btn-secondary-outline {
    position: relative;
    color: var(--color-secondary-500);
    box-shadow: 0 0 0 2px var(--color-secondary-500) inset;
    overflow: hidden;
    transition: all 0.5s ease;
}

.btn-secondary-outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary-500);
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.btn-secondary-outline:hover {
    color: white;
}

.btn-secondary-outline:hover::before {
    transform: translateX(0);
}


/* Tertiary button */

.btn-accent {
    color: white;
    background-color: var(--color-accent-500);
}

.btn-accent:hover {
    background-color: var(--color-accent-700);
}

.btn-accent:active {
    background-color: var(--color-accent-900);
}



/* Cards */

.card--primary {
    border-radius: 10px;
    background-color: var(--color-primary-500);
}

.card--secondary {
    border-radius: 10px;
    background-color: var(--color-secondary-500);
}

.card--shadow {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}



/* Forms */

.form__wrapper--floating-label {
    position: relative;
}

.form__text-box--floating-label {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form__label--floating-label {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    z-index: 10;
    pointer-events: none;
    transition: padding 0.5s ease, transform 0.5s ease;
}

.form__wrapper--floating-label :is(
    .form__text-box--floating-label:focus,
    .form__text-box--floating-label:not(:placeholder-shown)
) ~ .form__label--floating-label {
    padding: 0 0.5rem;
    transform: translate(-0.6rem, -100%) scale(0.8);
}