.login-container, .signup-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 100px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}