@import url(/shared/css/globals.css);
@import url(/shared/css/variables.css);

/* Hero section */

#hero {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35rem;
    overflow: hidden;
}

#hero .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 8rem;
}

#hero h1 {
    font-family: "Montserrat", "Inter", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
    text-wrap: balance;
    margin-bottom: 1rem;
}

#hero h3 {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: left;
    text-wrap: balance;
    margin-bottom: 1.5rem;
}

#hero .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-buttons a {
    margin-right: 1rem;
}

#hero img {
    position: absolute;
    bottom: -35rem;
    right: -5rem;
    z-index: -10;
    height: 80rem;
}



/* Description section */

#app-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-description .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 35rem;
    background-color: var(--color-primary);
    border-radius: 20px;
}

#app-description .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#app-description img {
    height: 30rem;
}

#app-description .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 3rem;
}

#app-description h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    color: #ffffff;
    margin-bottom: 1rem;
}

#app-description p {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-wrap: balance;
    color: #ffffff;
    margin-bottom: 1rem;
}



/* Benefits section */

#app-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

#app-benefits h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

#app-benefits .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}