/* Hero section */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 100px;
}

#hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

#hero h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#hero h3 {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
}

#hero img {
    height: 100%;
    margin-left: 2rem;
}

/* Description section */

#app-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgb(235, 235, 235);
}

#app-description img {
    width: 30%;
}

#app-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-description h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#app-description p {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-wrap: balance;
    width: 40vw;
}

/* Benefits section */

#app-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#app-benefits h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#app-benefits ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#app-benefits li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#app-benefits img {
    height: 300px;
    margin-bottom: 2rem;
}

#app-benefits p {
    text-align: center;
    text-wrap: balance;
    font-weight: 400;
    font-size: 1rem;
}