
main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 20px;
}

.login-container {
	background-color:#ffffff;
	padding: 40px 50px;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
	text-align: center;
	height: max-content;
}

.form-title {
	margin-bottom: 30px;
	font-size: 2rem;
	color: #222;
}

.input-form {
	margin-bottom: 20px;
	text-align: left;
}

.input-form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	color: #555;
}

.input-form input {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 1rem;
	transition: border-color 0.2s;
}

.input-form input:focus {
	border-color: #007bff;
	outline: none;
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}

.register-link {
	margin-top: 15px;
	font-size: 1rem;
	color: #555;
}

.register-link a {
	color: #007bff;
	text-decoration: none;
}

.register-link a:hover {
	text-decoration: underline;
}

