/* About us section */

.about,
.comp-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.comp-desc__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.about__wrapper,
.comp-desc__wrapper {
    padding: 4rem 2rem 6rem;
}

.about__image-container,
.comp-desc__image-container {
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 0 0 2px var(--color-secondary-500);
    background-color: white;
    overflow: hidden;
}

.about__image-wrapper,
.comp-desc__image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    width: 50rem;
}

.comp-desc__image {
    width: 30rem;
}

.about__details,
.comp-desc__details {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.about__heading,
.comp-desc__heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-gray-900);
}

.about__paragraph,
.comp-desc__paragraph {
    font-weight: 400;
    color: var(--color-gray-900);
}



/* Contributors section */

.contributor {
    background-color: var(--color-tertiary-100);
}

.contributor__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.contributor__heading {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contributor__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributor__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.contributor__image {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.contributor__name {
    font-weight: 700;
    font-size: 1rem;
}

.contributor__role {
    font-weight: 400;
    font-size: 0.75rem;
}