.login,
.signup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.login__container,
.signup__container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.login__container *,
.signup__container * {
    width: 100%;
}

.login__heading,
.signup__heading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login__form,
.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.login__form-text-box,
.signup__form-text-box {
    box-shadow: 0 0 0 1px gray inset;
    color: black;
}

.login__form-text-box:focus,
.signup__form-text-box:focus {
    box-shadow: 0 0 0 1px black inset;
}

.login__form-label,
.signup__form-label {
    width: auto;
    color: gray;
    background-color: white;
}

.login__form-wrapper :is(.login__form-text-box:focus) ~ .login__form-label,
.signup__form-wrapper :is(.signup__form-text-box:focus) ~ .signup__form-label {
    color: black;
}

.signup-link {
    font-weight: 700;
    color: var(--color-accent-500);
}

.login-link {
    font-weight: 700;
    color: var(--color-primary-500);
}

.signup-link:hover,
.login-link:hover {
    text-decoration: underline;
}



/* For tablets */
@media screen and (min-width: 501px) and (max-width: 768px) {
    .login__container,
    .signup__container {
        width: 375px;
    }
}



/* For smartphones */
@media screen and (min-width: 320px) and (max-width: 500px) {
    .login,
    .signup {
        padding: 5rem 3rem;
    }

    .login__container,
    .signup__container {
        width: 100%;
    }
}