/* Hero section */

.hero {
    height: 35rem;
}

.hero__layout {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    overflow: hidden;
}

.hero__text {
    position: absolute;
    top: 40%;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px var(--color-dim-300);
    backdrop-filter: blur(10px);
}

.hero__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
    text-wrap: balance;
    color: var(--color-primary-900);
}

.hero__subheading {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    text-wrap: balance;
}

.hero__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.hero__image {
    width: 100%;
    z-index: -10;
}



/* Product description section */

.prod-desc {
    padding: 3rem 0;
    background-color: var(--color-primary-500);
}

.prod-desc__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
}

.prod-desc__image {
    width: 24rem;
}

.prod-desc__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}

.prod-desc__heading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    color: white;
}

.prod-desc__paragraph {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-wrap: balance;
    color: white;
}



/* Value proposition section */

.value-prop {
    padding: 5rem 0;
}

.value-prop__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.value-prop__heading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.value-prop__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
}

.value-prop__container {
    width: 20rem;
    height: 30rem;
    overflow: hidden;
}

.value-prop__image-wrapper {
    display: flex;
    justify-content: center;
    height: 20rem;
    overflow: hidden;
}

.value-prop__image {
    height: 100%;
    background-color: var(--color-secondary-500);
    transition: all 0.5s;
}

.value-prop__image:hover {
    transform: scale(1.2);
}

.value-prop__caption {
    padding: 2rem;
}



/* For small-sized monitors and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    @media screen and (max-width: 945px) {
        .prod-desc__image {
            width: 18rem;
        }
    }
}



/* For tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .prod-desc__image {
        width: 20rem;
    }
}