@import url(/shared/css/variables.css);



/* Buttons */

.btn {
    cursor: pointer;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.btn-default:hover {
    background-color: rgb(200, 200, 200);
}

.btn-default:focus {
    color: #ffffff;
    background-color: rgb(150, 150, 150);
}


/* Primary button */

.btn-primary {
    color: #ffffff;
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #153c63;
}

.btn-primary:focus {
    background-color: #0b233a;
}


/* Primary button with gradient */

.btn-primary-gradient {
    position: relative;
    color: white;
    overflow: hidden;
}

.btn-primary-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-primary));
    transform: translateX(-50%);
    transition: all 0.5s;
}

.btn-primary-gradient:hover::before {
    transform: translateX(0);
}


/* Primary outline button*/

.btn-primary-outline {
    position: relative;
    color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary) inset;
    overflow: hidden;
    transition: all 0.5s;
}

.btn-primary-outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.btn-primary-outline:hover {
    color: #ffffff;
}

.btn-primary-outline:hover::before {
    transform: translateX(0);
}


/* Secondary outline button*/

.btn-secondary-outline {
    position: relative;
    color: var(--color-secondary);
    box-shadow: 0 0 0 2px var(--color-secondary) inset;
    overflow: hidden;
    transition: all 0.5s;
}

.btn-secondary-outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #92eddb, var(--color-secondary));
    transform: translateX(-100%);
    transition: all 0.5s;
}

.btn-secondary-outline:hover {
    box-shadow: none;
    color: #ffffff;
}

.btn-secondary-outline:hover::before {
    transform: translateX(0);
}


/* Tertiary button */

.btn-tertiary {
    color: #ffffff;
    background-color: var(--color-tertiary);
}

.btn-tertiary:hover {
    background-color: #5e9424;
}

.btn-tertiary:focus {
    background-color: #3c6411;
}



/* Cards */

.card {
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(200, 200, 200);
    margin: 1rem;
    overflow: hidden;
}

.card-image-frame {
    display: flex;
    justify-content: center;
    height: 20rem;
    overflow: hidden;
}

.card-image {
    height: 22rem;
    background-color: var(--color-secondary);
    transition: all 0.5s;
}

.card-image:hover {
    transform: scale(1.2);
}

.card-caption {
    padding: 2rem;
}



/* Textbox */

.input-wrapper {
    position: relative;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
    outline: none;
    padding: 0.75rem 1rem;
    box-shadow: 0 0 0 2px rgb(200, 200, 200) inset;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.input-wrapper label {
    position: absolute;
    top: calc(0.75rem + 1px);
    left: calc(1rem + 1px);
    z-index: 10;
    color: rgb(100, 100, 100);
    pointer-events: none;
    transition: all 0.5s;
}

.input-wrapper :is(input[type="text"]:focus, input[type="text"]:not(:placeholder-shown))~label,
.input-wrapper :is(input[type="email"]:focus, input[type="email"]:not(:placeholder-shown))~label,
.input-wrapper :is(input[type="password"]:focus, input[type="password"]:not(:placeholder-shown))~label {
    transform: translateY(-100%) scale(0.8);
    color: #000000;
    background-color: #ffffff;
    padding: 0 0.5rem;
}