/* Hero section */

.hero {
    position: relative;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 5rem;
    overflow: hidden;
}

.hero__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
    text-wrap: balance;
}

.hero__subheading {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    text-wrap: balance;
}

.hero__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.hero__image {
    position: absolute;
    bottom: -36rem;
    right: -5rem;
    z-index: -10;
    height: 80rem;
}



/* Product description section */

.prod-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-desc__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 95%;
    padding: 5rem;
    border-radius: 20px;
}

.prod-desc__image {
    width: 24rem;
}

.prod-desc__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}

.prod-desc__heading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    color: white;
}

.prod-desc__paragraph {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-wrap: balance;
    color: white;
}



/* Value proposition section */

.value-prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
}

.value-prop__heading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.value-prop__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
    margin: 1rem;
}

.value-prop__container {
    width: 20rem;
    height: 30rem;
    overflow: hidden;
}

.value-prop__image-wrapper {
    display: flex;
    justify-content: center;
    height: 20rem;
    overflow: hidden;
}

.value-prop__image {
    height: 22rem;
    background-color: var(--color-secondary-500);
    transition: all 0.5s;
}

.value-prop__image:hover {
    transform: scale(1.2);
}

.value-prop__caption {
    padding: 2rem;
}



/* For small-sized monitors and laptops */
@media screen and (min-width: 769px) and (max-width: 1080px) {
    .hero__image {
        position: absolute;
        bottom: -20rem;
        right: -5rem;
        z-index: -10;
        height: 60rem;
    }

    @media screen and (max-width: 945px) {
        .prod-desc__image {
            width: 18rem;
        }
    }
}



/* For tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .hero__image {
        position: absolute;
        bottom: -15rem;
        right: -5rem;
        z-index: -10;
        height: 55rem;
    }

    .prod-desc__image {
        width: 20rem;
    }
}