/* App layout */

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px calc(100vh - 80px) / 280px  calc(100vw - 280px);
}



/* App logo */

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

.brand__logo {
    width: 35px;
}

.brand__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--color-primary-500);
}



/* Header */

.header {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-gray-50);
}

.header__interactables {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.header__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: white;
}

.header__search-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search {
    width: 18rem;
    padding: 0.75rem;
    box-shadow: none;
    border: none;
    color: var(--color-gray-900);
    background-color: transparent;
}

.header__search::placeholder {
    color: var(--color-gray-900);
}

.header__search::-webkit-search-cancel-button {
    appearance: none;
    display: none;
}

.header__search-icon {
    width: 20px;
    color: var(--color-gray-900);
}

.header__notif {
    cursor: pointer;
}

.header__notif-icon {
    width: 32px;
    color: var(--color-gray-900);
}

.header__profile {
    width: 35px;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.header__profile-image {
    aspect-ratio: 1 / 1;
    width: 100%;
}



/* Navigation and user menu */

.nav {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 1rem;
    background-color: var(--color-gray-50);
}

.nav__list {
    width: 100%;
}

.nav__link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--color-gray-900);
}

.nav__link:hover {
    background-color: var(--color-dim-100);
}

.nav__link:active {
    background-color: var(--color-dim-300);
}

.nav__icon {
    width: 20px;
    color: inherit;
}

.nav__text {
    color: inherit;
}



/* Main */

.main {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: var(--color-gray-50);
}

.main__container {
    height: 100%;
    padding: 0 5rem 3rem;
    box-shadow: 0 0 10px var(--color-gray-100);
    border-radius: 10px 0 0 0;
    background-color: white;
}

.main__header {
    padding: 3rem 0 1.5rem 0;
    background-color: white;
}

.main__heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-primary-500);
}



/* Add button */

.add-button-container {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.add-button {
    width: 50px;
}

.tool-tip {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: black;
}