/* App logo */

.brand {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    pointer-events: none;
}

.brand__logo {
    width: 50px;
    margin-right: 0.5rem;
}

.brand__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
}



/* Navigation and user menu */

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: var(--color-primary-500);
}

.nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav__list {
    width: 100%;
    padding: 0 1rem;
}

.nav__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav__link:hover {
    background-color: var(--color-primary-300);
}

.nav__link:focus {
    background-color: var(--color-primary-100);
}

.nav__icon {
    width: 20px;
    margin-right: 1rem;
    color: white;
}

.nav__text {
    color: white;
}



/* Header */

.header {
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-left: 280px;
}

.header__heading {
    font-weight: 700;
    font-size: 1.5rem;
}

.header__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    background-color: var(--color-gray--light);
}

.header__search {
    width: 20rem;
    box-shadow: none;
    border: none;
    font-size: inherit;
    background-color: inherit;
}

.header__search::-webkit-search-cancel-button {
    appearance: none;
    display: none;
}

.header__search-icon {
    width: 20px;
    color: var(--color-gray--neutral);
}

.header__notif-icon {
    width: 35px;
    justify-self: flex-end;
}

.header__profile-image {
    width: 40px;
    justify-self: flex-end;
    border-radius: 999px;
}



/* Main */

main {
    margin-left: 280px;
}



.add-button {
    width: 50px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}



/* Input */

input, select {
    font-size: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 0 1px black inset;
    border: none;
    border-radius: 5px;
    color: black;
}

select, ::picker(select) {
    appearance: base-select;
}

optgroup {
    font-weight: 700;
    padding: 5px;
}

option {
    font-size: 0.9rem;
}

label {
    font-weight: 700;
    font-size: 0.75rem;
    color: black;
}