/* Containers and wrappers */

.container {
    width: 100%;
    
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}



/* Brand logo */

.brand__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.brand__image {
    width: 45px;
}

.brand__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--color-primary-500);
}



/* Header section */

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 2rem;
}

.nav {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    border-radius: 999px;
    box-shadow: 0 0 10px 1px var(--color-dim-300);
    background-color: white;
}

.nav__list,
.nav__auth-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav__auth-btn-item {
    border-radius: 999px;
}

.nav__link {
    display: block;
    position: relative;
    padding: 0.75rem;
    overflow: hidden;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-primary-500);
    transform: translateX(-102%);
    transition: transform 0.5s ease;
}

.nav__link:hover::before {
    transform: translateX(0);
}



/* Newsletter section*/

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--color-primary-500);
}

.newsletter__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.newsletter__heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    text-transform: capitalize;
    color: white;
}

.newsletter__paragraph {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    color: white;
}

.newsletter__form {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
}

.newsletter__form-wrapper {
    grid-area: 1 / 1 / span 1 / span 2;
}

.newsletter__form-text-box {
    width: 100%;
    box-shadow: 0 0 0 2px white inset;
    color: white;
    background-color: var(--color-primary-500);
}

.newsletter__form-label {
    color: white;
    background-color: var(--color-primary-500);
}

.newsletter__form-button {
    grid-area: 1 / 3 / span 1 / span 1;
}



/* Footer section */

.footer {
    padding: 2rem 0;
    background-color: var(--color-primary-900);
}

.footer__layout {
    display: grid;
    grid-template: 1fr 0.5fr / 1fr 1fr 1fr;
}

.footer__brand {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: center;
}

.footer__brand-image {
    width: 50px;
}

.footer__contact-info {
    grid-area: 1 / 2 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    padding: 1rem;
}

.footer__social-media {
    grid-area: 1 / 3 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    padding: 1rem;
}

.footer__copyright {
    grid-area: 2 / 1 / span 1 / span 3;
    justify-self: center;
    align-self: flex-end;
}

.contact-info,
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.contact-info__heading,
.social-media__heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.contact-info__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.contact-info__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.contact-info__detail {
    color: white;
}

.social-media__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.contact-info__icon {
    width: 25px;
}

.social-media__icon {
    width: 50px;
}

.contact-info__icon > path,
.social-media__icon > path {
    fill: white;
}

.copyright__text {
    font-weight: 400;
    font-size: 0.75rem;
    color: white;
}



/* Font size for tablets and phones */
@media screen and (max-width: 768px) {
    * {
        font-size: 12px;
    }
}