/* Inter Typeface */

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-thin-italic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-regular-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-bold-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/inter/inter-black-italic.ttf);
    font-weight: 900;
    font-style: italic;
}



/* Montserrat Typeface */

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-thin-italic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-regular-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-bold-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/montserrat/montserrat-black-italic.ttf);
    font-weight: 900;
    font-style: italic;
}



/* Reset */

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--color-gray-900);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    padding: none;
    border: none;
    outline: none;
    margin: none;
    color: inherit;
    background-color: inherit;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    box-shadow: 0 0 0 1px var(--color-gray-900) inset;
    border-radius: 3px;
    cursor: pointer;
}