:root {
    /* Brand color */
    --color-primary-50: #e7f2ff;
    --color-primary-100: #7397bb;
    --color-primary-300: #4676a5;
    --color-primary-500: #245484;
    --color-primary-700: #153C63;
    --color-primary-900: #0B233A;

    /* Supporting color */
    --color-secondary-100: #88E1DE;
    --color-secondary-300: #62D5D1;
    --color-secondary-500: #3FB3B0;
    --color-secondary-700: #288B88;
    --color-secondary-900: #1A6967;

    /* Second supporting color */
    --color-tertiary-100: #f4ffb8;
    --color-tertiary-300: #d6e57c;
    --color-tertiary-500: #baca5f;

    /* Accent color*/
    --color-accent-100: #bae092;
    --color-accent-300: #a4d76d;
    --color-accent-500: #85BF46;
    --color-accent-700: #669c2d;
    --color-accent-900: #4b771c;
    
    --color-gray-50: #f6f6f6;
    --color-gray-100: #e2e2e2;
    --color-gray-300: #bbbbbb;
    --color-gray-500: #898989;
    --color-gray-700: #5f5f5f;
    --color-gray-900: #383838;

    --color-dim-100: #00000010;
    --color-dim-300: #00000030;
    --color-dim-500: #00000050;
    --color-dim: #00000080;
}