.dashboard-main-content {
    display: grid;
    grid-template:
        1fr 1fr 1fr /
        1fr 1fr 1fr 1fr
    ;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(230, 230, 230);
}

.dashboard-main-content h1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary-500);
}

.dashboard-main-content > div {
    padding: 2rem;
}

#account-summary {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#activity-past-month {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#activity {
    width: 100%;
}

#expenses-per-category {
    grid-area: 1 / 3 / span 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}