/* Main header */

.transactions__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.transactions__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.transactions__filter-year,
.transactions__filter-month,
.transactions__filter-account,
.transactions__filter-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.transactions__filter-year select,
.transactions__filter-month select,
.transactions__filter-account select,
.transactions__filter-category select {
    width: 10rem;
    height: 2rem;
    padding: 0.25rem 0.5rem;
}

.transactions__filter-year *,
.transactions__filter-month *,
.transactions__filter-account *,
.transactions__filter-category * {
    font-size: 0.9rem;
}



/* Main content */



/* Table*/

.transactions__table-container {
    height: calc(100% - 6.75rem);
    border: 2px solid var(--color-primary-500);
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.transactions__table {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.transactions__table::-webkit-scrollbar {
    width: 10px;
}

.transactions__table::-webkit-scrollbar-track {
    border-radius: 999px;
    background: white;
}

.transactions__table::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 3px solid white;
    background: var(--color-gray-300);
}

.transactions__table::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-500);
}

.transactions__table::-webkit-scrollbar-thumb:active {
    background: var(--color-gray-700);
}



/* Table Header */

.transactions__table-header-row,
.transactions__table-body-row {
    display: grid;
    grid-template: 1fr / 16% 15% 15% 26% 14% 14%;
}

.transactions__table-header {
    position: sticky;
    top: 0;
}

.transactions__table-header-row {
    background-color: var(--color-primary-500);
}

.transactions__table-header-data {
    font-weight: 700;
    font-size: 0.9rem;
    text-align: left;
    text-transform: uppercase;
    padding: 1rem;
    color: white;
}



/* Table Body */

.transactions__table-body-row:nth-child(odd) {
    background-color: var(--color-gray-100);
}

.transactions__table-body-row:nth-child(even) {
    background-color: white;
}

.transactions__table-body-row:hover {
    background-color: var(--color-dim-300);
}

.transactions__table-body-row:active {
    background-color: var(--color-dim-500);
}

.transactions__table-body-data {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}



/* Add transaction form */

#addTransactionForm {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}

#addTransactionForm .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-dim);
}

#addTransactionForm .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    color: black;
}

#addTransactionForm h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

#addTransactionForm .grid {
    display: grid;
    grid-template:
        1fr 1fr 1fr 1fr 50px /
        36px 36px 36px 36px 36px 36px 36px 36px 
    ;
    gap: 1rem;
}

#addTransactionForm .grid > #date {
    grid-area: 1 / 1 / span 1 / span 8;
}

#addTransactionForm .grid > #account {
    grid-area: 2 / 1 / span 1 / span 4;
}

#addTransactionForm .grid > #category {
    grid-area: 2 / 5 / span 1 / span 4;
}

#addTransactionForm .grid > #note {
    grid-area: 3 / 1 / span 1 / span 8;
}

#addTransactionForm .grid > #amount {
    grid-area: 4 / 1 / span 1 / span 8;
}

#addTransactionForm .grid > #addButton {
    grid-area: 5 / 1 / span 1 / span 3;
}

#addTransactionForm .grid > #cancelButton {
    grid-area: 5 / 4 / span 1 / span 3;
}

#addTransactionForm .grid > *, #addTransactionForm .grid > * > * {
    width: 100%;
}